<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	
	<div class = "container">
	<p class="text-right"><a href="/">Home</a></p>

		<div class="page-header">
        	<h1>Toy Task 1</h1>
        <!--	<p class="lead">Small demo </p> -->
      	</div>

		<p class="text-center">Upload Image</p>


		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="text-center">
					<form class="form-inline" method='POST' enctype=multipart/form-data action="{{ url_for('toyTask1') }}"> 
						<div class="form-group" >
							<label>File input</label>
						    <input type='file' name='photo' class="form-control">
						</div>
						
						<button type="submit" class="btn btn-default">Upload</button>
						   
					</form>
				</div>
			</div>
		</div>


		<p class="text-center">---------------------------------------------------------------------------------</p>

		<div class="row">
			<div class="col-md-5">
		    	<img src="{{imgsrc}}" class="img-rounded center-block" alt="" width="300" height="300">
		    </div>

		    <div class="col-md-7">
				<div class="form-group" >
					<form method='POST' action="{{ url_for('toyTask1') }}"> 
						
					    <label>Question</label>
			    		<input type="text" placeholder="Enter Question" name='question' class="form-control">
			    		<input type="hidden" name='filename' value={{filename}}>
			    		<input type="submit" class="btn btn-default">

				    </form>
				</div>
				<h1>{{answer}}</h1>
			</div>
		</div>

	</div>
</body>
</html>
