<!DOCTYPE html>
<html>
<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>

	<div class = "container">

		<div class="page-header">
        	<h1>Toy Task 2</h1>
        <!--	<p class="lead">Small demo </p> -->
      	</div>

		<p class="text-center">Upload Image</p>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="text-center">
					<form class="form-inline" method='POST' enctype=multipart/form-data action="{{ url_for('toyTask2') }}"> 
						<div class="form-group" >
							<label>File input</label>
						    <input type='file' name='photo' class="form-control">
						</div>
						
						<button type="submit" class="btn btn-default">Upload</button>  
					</form>
				</div>
			</div>
		</div>

		<h3 class="text-center">Make a pipeline</h3>
		<div class="row">
			<div class="col-md-3">
				<img src="{{imgsrc}}" class="img-rounded" alt="" width="250" height="250">
			</div>

			<div class="col-md-9">
				
				<div class="row" >
					<div class="col-md-3">
						<h4> Click on following module :</h4>
					</div>

					{% for modname in modules %}
		    				<div class="col-md-2">
						<button onclick="myFunction('{{modname}}')" class="btn btn-default">{{modname}}</button>
					</div>
		 			{% endfor %}
					
				</div>
			

			<h4>PipeLine:</h4>
			<div class="row" style="margin-left:30px;">
				<div id="myList1">
				<button>Input</button>
				{% for modname in message %}
					<button class="btn btn-default">{{modname}}</button>
		 		{% endfor %}

				<button>Output</button></div>
			</div>

			<div class="row" style="margin:10px;">
				<button onclick="myDataPost('{{filename}}')" class="btn btn-default">Submit</button>

			</div>
		</div>

	<div class="row">	
		{% for entry in entries %}
		    <div class="col-md-2">
				<p>{{entry[0]}}</p>
				<img src="{{entry[1]}}" class="img-rounded" alt="" width="200" height="200">
			</div>
		 {% endfor %}
	 </div>

 </div>

<script>

	var pipData='';

	function myFunction(a) {
		var btn=document.createElement("BUTTON");
		pipData=pipData+a+',';
		var t = document.createTextNode(a); 
		btn.appendChild(t);
	    var list = document.getElementById("myList1");
	    list.insertBefore(document.createTextNode("---->"), list.lastChild);
	    list.insertBefore(btn, list.lastChild);
	    
	}

	function myDataPost(a) {
	    var form = document.createElement("form");
	    form.setAttribute("method", 'POST');
	    form.setAttribute("action", "{{ url_for('toyTask2') }}");

	    var hiddenField = document.createElement("input");
	    hiddenField.setAttribute("type", "hidden");
	    hiddenField.setAttribute("name", 'pipeline');
	    hiddenField.setAttribute("value", pipData);

	    var hiddenFilename = document.createElement("input");
	    hiddenFilename.setAttribute("type", "hidden");
	    hiddenFilename.setAttribute("name", 'filename');
	    hiddenFilename.setAttribute("value", a);

	    form.appendChild(hiddenField);
	    form.appendChild(hiddenFilename);
	    document.body.appendChild(form);
	    form.submit();
	}

</script>

</body>
</html>
